
<head>
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/signin.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <div id = "sign-in-div">
</head>
    <h1>
      Welcome to Placement Cell
    </h1>
        <form id="form-inputs" action="/users/create-session" method="POST">
        <label id="field-labels"> UserName </label>
        <input id="form-inputs-values" type="email" name="email" placeholder="" required>
        <label id="field-labels"> Password </label>
        <input id="form-inputs-values" type="password" name="password" placeholder="" required>
        <input id="form-submit-btn" type="submit" class="submit" value="Log In">
        <p id="are-you-new-p">Are you new ?</p>
        <button  id="new-account-btn"> <a id="create-account-link" href="/users/sign-up">Crete an account</a></button>
    
</form>

   




