body{
    background-color: rgb(243, 243, 243);
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;  font-family: 'Roboto', sans-serif;
}


#sign-in-div{
   
    margin: auto;
    padding: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#form-inputs{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#field-labels{
    align-self: self-start;
    margin-left: 1rem;
    margin-bottom: -1rem;
}
#form-inputs-values
{
    margin: 1rem;
    height: 2rem;
    width: 15rem;
    border-radius: 3px;
    border: none;
    box-shadow: black;
    background: #fcfcf1;
    border: 1px solid #eae3d6;
    margin-top: 1.3rem;
}

#form-inputs-values:hover
{
    margin: 1rem;
    height: 2rem;
    width: 15rem;
    border-radius: 3px;
    border: none;
    box-shadow: black;
    background: #fcfcf1;
    border: 1px solid #74726f;
    margin-top: 1.3rem;
}


#form-submit-btn{
    margin: 1rem;
    height: 2rem;
    width: 15rem;
    border-radius: 3px;
    border: none;
    box-shadow: #09ffb7;
    background: #000000;
    color:white;
    border: 1px solid #eae3d6;
    margin-top: 1.3rem;
}

#form-submit-btn:hover{
    margin: 1rem;
    height: 2rem;
    width: 15rem;
    border-radius: 3px;
    border: none;
    box-shadow: black;
    background: #363333;
    color:white;
    border: 1px solid #eae3d6;
    margin-top: 1.3rem;
    transform: scale(1.05) translateY(.100rem);
}

#create-account-link{
    text-decoration: none;
    color: white;
}

#new-account-btn{
    margin: 1rem;
    height: 2rem;
    width: 15rem;
    border-radius: 3px;
    border: none;
    box-shadow: black;
    background: #09ffb7;
    color:white;
    border: 1px solid #eae3d6;
    margin-top: 1.3rem;
}

#new-account-btn:hover{
    margin: 1rem;
    height: 2rem;
    width: 15rem;
    border-radius: 3px;
    border: none;
    box-shadow: black;
    background: #068a62;
    color:white;
    border: 1px solid #eae3d6;
    margin-top: 1.3rem;
    transform: scale(1.05) translateY(.100rem);
}

#are-you-new-p{
    margin: -10px;
    margin-top: 10px;
}

